# Prerequisites
*.d


# JavaScript
node_modules/
*/**/node_modules/
coverage/
dist/

*/**/yarn.lock
yarn-error.log
*/**/package-lock.json


/bundle*.js
npm-debug.log

.DS_Store
*.xz
*.tar.gz
*.cache
*.bak
*~
*.pyc
*~
*.swp
*.la
*.lo
*.o
*.vtg
*.vpwhistu
.deps/
.libs/
*.vtg
tags


#IDEs
.vscode/ipch
.history
build/

#Node
node_modules
dist